@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

//font
$font-main: 'Spoqa Han Sans Neo', 'sans-serif';

//Color base
$blue-50: #E6EAF8;
$blue-100: #C1C9EE;
$blue-300: #C1C9EE;
$blue-400: #E6EAF8;
$blue-500: #004FC6;
$blue-700: #003DB0;

$green-50: #E0F3F2;
$green-300: $green;
$green-400: #00ACA1;

//box-shadow
$shadow-button: 0px 4px 4px rgba($black, 0.25);

//text
$text-color: $gray-500;

